<form name="container-form" method="POST" action="/courses/handle-form-action" class="mt-4">
    <div>
        <h3>Nhạc của tôi</h3>
        {{!-- {{#if deletedCount}} --}}
        <a href="/me/trash/music">
            Thùng rác {{deletedCount}}
        </a>
        <div class="mt-4 d-flex align-items-center">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                <label class="form-check-label" for="checkbox-all">
                    Chọn tất cả
                </label>
            </div>
            <select class="form-select form-select-sm checkbox-select-all-options" name="action" required
                aria-label="Default select example">
                <option value="">-- Hành động --</option>
                <option value="delete">Xóa</option>
            </select>
            <button id="removeClass" class="btn btn-primary btn-sm btn-check-all-submit disabled">
                Thực hiện
            </button>
        </div>
    </div>
    {{!-- {{/if}} --}}
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col" colspan="2">#</th>
                <th scope="col">Tên nhạc</th>
                <th scope="col">Level</th>
                <th scope="col">Thời gian tạo</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="{{this._id}}" name="courseIds[]"
                            id="courseIds[]">
                    </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                    <a href="" class="btn btn-link" data-id="{{this._id}}" data-bs-toggle="modal"
                        data-bs-target="#delete-music-modal">Xóa</a>
                </td>
            </tr>

            {{else}}
            <tr>
                <td colspan="5" class="text-center">Bạn chưa đăng nhạc nào.
                    <a href="/courses/create"> Đăng khóa học</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{!-- Confirm xóa khóa học --}}
<div id="delete-music-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa nhạc ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn muốn xóa nhạc này?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-music" type="button" class="btn btn-danger">Xóa bỏ</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>
{{!-- Delete hidden form --}}
<form method="POST" name="delete-music-form"></form>

<script>
    document.addEventListener(`DOMContentLoaded`, function () {
        var courseId;
        var deleteForm = document.forms['delete-music-form'];
        var containerForm = document.forms['container-form'];
        var btnDeleteMusic = document.getElementById('btn-delete-music');
        var checkboxAll = document.getElementById('checkbox-all')
        var xoaClass = document.getElementById('removeClass')
        //var musicItemCheckbox = document.getElementById('courseIds[]') // hàm này để dùng addlistener
        var musicItemCheckboxName = document.getElementsByName('courseIds[]')
        var checkAllSubmit = document.getElementsByClassName('btn-check-all-submit')

        // Checkbox all changed
        checkboxAll.addEventListener('change', function (e) {
            if (this.checked) {
                for (i = 0; i < musicItemCheckboxName.length; i++) {
                    musicItemCheckboxName[i].checked = true;
                    xoaClass.classList.remove("disabled")
                }
            } else {
                for (i = 0; i < musicItemCheckboxName.length; i++) {
                    musicItemCheckboxName[i].checked = false;
                    xoaClass.classList.add("disabled")
                }
            }
        })

        for (i = 0; i < musicItemCheckboxName.length; i++) {
            musicItemCheckboxName[i].addEventListener('change', function (e) {
                checkboxAll.checked = false;
            })
        }
        // Music item checkbox changed

        // Khi mà dialog confirm đã được click
        var exampleModal = document.getElementById('delete-music-modal')
        exampleModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget
            courseId = button.getAttribute('data-id')
        })
        // Khi mà button delete đã được click
        var btnDeleteMusic = document.getElementById('btn-delete-music')
        btnDeleteMusic.onclick = function () {
            deleteForm.action = '/courses/' + courseId + '?_method=DELETE'
            deleteForm.submit();
        }
        // Click nút thực hiện
        xoaClass.addEventListener('click', function (e) {
            e.preventDefault();
            containerForm.submit();
        })
        
        //Render lại cái nút button thực hiện
        function renderCheckAllSubmitBtn() {
            var checkedCount = 0;
            for (i = 0; i < musicItemCheckboxName.length; i++) {
                let a = i
                musicItemCheckboxName[i].addEventListener('change', function (e) {
                    if (musicItemCheckboxName[a].checked) {
                        checkedCount++
                        if (checkedCount > 0) {
                            xoaClass.classList.remove("disabled")
                        } else {

                            xoaClass.classList.add("disabled")
                        }
                    } else {
                        checkedCount--
                        if (checkedCount > 0) {
                            xoaClass.classList.remove("disabled")
                        } else {

                            xoaClass.classList.add("disabled")
                        }
                    }

                })


            }
        }
        renderCheckAllSubmitBtn()
    })

</script>