<div class="mt-4">
    <a href="/me/stored/music">
        Danh sách khóa học
    </a>
    <h3>Khóa học đã xóa</h3>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên nhạc</th>
                <th scope="col">Level</th>
                <th scope="col">Thời gian xóa</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.deletedAt}}</td>
                <td>
                    <a href="" data-id="{{this._id}}" class="btn btn-link btn-restore">Khôi phục</button>
                        <a href="" class="btn btn-link" data-id="{{this._id}}" data-bs-toggle="modal"
                            data-bs-target="#delete-music-modal">Xóa vĩnh viễn</button>
                </td>
            </tr>

            {{else}}
            <tr>
                <td colspan="5" class="text-center">Thùng rác trống.
                    <a href="/me/stored/music"> Danh sách nhạc</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Confirm xóa khóa học --}}
<div id="delete-music-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa nhạc ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Hành động này không thể khôi phục. Bạn vẫn muốn muốn xóa nhạc này?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-music" type="button" class="btn btn-danger">Xóa bỏ</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>
{{!-- Delete hidden form --}}
<form method="POST" name="delete-music-form"></form>
<form method="POST" name="restore-music-form"></form>

<script>
    document.addEventListener(`DOMContentLoaded`, function () {
        var courseId;
        var deleteForm = document.forms['delete-music-form'];
        var restoreForm = document.forms['restore-music-form'];
        var btnDeleteMusic = document.getElementById('btn-delete-music');
        var restoreBtnAll = document.querySelectorAll('.btn-restore');
        var exampleModal = document.getElementById('delete-music-modal')
        var btnDeleteMusic = document.getElementById('btn-delete-music')


        // Khi mà dialog confirm đã được click
        exampleModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget
            courseId = button.getAttribute('data-id')
        })

        // Khi mà button delete đã được click
        btnDeleteMusic.onclick = function () {
            deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE'
            deleteForm.submit();
        }

        restoreBtnAll.forEach((restoreBtn) => {
            restoreBtn.addEventListener('click', (e) => {
                e.preventDefault();
                debugger;
                var courseId = restoreBtn.getAttribute('data-id');
                restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
                restoreForm.submit();
            });
        });
    })

</script>